{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "simple-import-sort", "import"],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    // eslint
    "max-len": "off",
    "one-var": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-prototype-builtins": "off",
    "class-methods-use-this": "warn",
    "padded-blocks": "off",
    "object-curly-newline": "off",
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "prefer-arrow-callback": "warn",
    "semi": "off",
    "indent": "off",
    "comma-dangle": "off",

    // import
    "import/no-named-as-default": "off",
    "import/extensions": ["error", "ignorePackages"],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",

    // Typescript
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
